.post__container{
    background-color: white;
}
.reaction{
    border-top: 1px solid rgb(197, 197, 197);
    margin-top: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
}
    .delete__post{
    background-color:white;
}
.comments>.MuiSvgIcon-root{
    font-size:23px
}
.conter_delete >.MuiSvgIcon-root{
    color: rgb(236, 65, 65);
    font-size:23px
}
.center_delete{
    justify-items: center;
    align-items: center;
}
.delete{
    font-size:13px;
    font-weight:bold
}
.avatar_comment{
    width: 26px !important;
    height: 26px !important;
}

