.container{
    background-color: white;
    border-radius: 6px;
    margin-bottom: 15px;
      
}
.reaction{
    border-top: 1px solid rgb(197, 197, 197);
    margin-top: 11px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.post__image{
    padding-right: 0px;
    padding-left: 0px;
}
.post__image >img{
    width: 100%;
    border-bottom-left-radius:15px ;
border-bottom-right-radius:15px ;
}
.user__name{
margin:0px 0px 0px 13px !important;
font-size: medium;
}
.user__name>p{
    margin: 5px 0px 0px 0px !important;
}
.timestimp__post{
    font-size: 9px;
    font-weight: 500;
    color: gray;
}
.info__post{
    margin: 15px 5px 0px 0px;
    display: flex;
    align-items: center;
}
.option__post{
    cursor: pointer;
padding: 5px;
border-radius: 999px;
}
.option__post:hover{
background-color: whitesmoke;
}
.delete__post{
    position: absolute;
    background-color:white !important;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.4);
    border-radius:9px;
    padding: 10px;
    display: flex;
}
.option__post{
    position: relative;
}
.comments>.MuiSvgIcon-root{
    font-size:23px
}
.conter_delete >.MuiSvgIcon-root{
    color: rgb(236, 65, 65);
    font-size:23px
}
.center_delete{
    justify-items: center;
    align-items: center;
}
.delete{
    font-size:13px;
    font-weight:bold
}
.avatar_comment{
    width: 26px !important;
    height: 26px !important;
}
.input_comment{
    border:none;
    background-color:#bdbdbd;
    border-radius:11px;
    width: 100%;
    font-size:14px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.input_comment:focus{
outline: none
}
.content__comment{
    background-color:#d8d8d8;
    font-size:14px;
    width: 100%;
    border-top-right-radius:12px ;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius:12px ;
    padding-left: 5px;
    margin-left:7px;
    margin-top:2px;
}
.userName__comment{
    font-weight:bold
}
.comment__text{
    padding-bottom: 6px;
    font-weight: normal;
}
.delete__comment>.MuiSvgIcon-root{
    padding: 3px;
    color:rgb(63, 63, 63)
}
