.card__users{
    background-color: white;
    border-radius: 11px;
    height: 375px;
}
.card__Allusers{
    background-color: white;
    border-radius: 11px;
    height: 100vh;
    overflow: auto;
}
.users__title{
    padding: 12px;
    margin-bottom: 15px;
    border-bottom:1px solid rgb(202, 202, 202);
}
.users__title>h6{
    margin: 0px;
    color: rgb(37, 37, 37);
}
.user__name>h6{
margin: 0px;
}
.user__name>p{
    margin: 0px;
    color: gray;
}
.users__content{
margin-bottom: 12px;
}
.cepar__users{
background-color: rgb(202, 202, 202);
margin-bottom: 10px;
height: 1px;
margin-left: 20px;
}
.user__more{
    border-radius: 11px;
    color: rgb(0, 148, 0);
}
.user__more:hover{
    background-color: rgb(202, 202, 202);
    color: rgb(0, 148, 0);
    text-decoration: none;
}