.profle{
    background-color: white;
}
.profile__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile__info{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 6px;

}

.profile__follow{
display: flex;
justify-content: center;
}

.profile__following,
.profile__followers{
    display: flex;
    justify-content: center;

}
.profile__followers>h6,
.profile__following>h6{
    margin-left: 11px;
}

.profile__edpeo{
position: relative;
margin-bottom: 8px;
}
.prolile__img>*{
    width: 190px !important;
    height: 190px !important;
    border: 5px solid #14bd5d;
}
.profile__Sitting{
    position: absolute;
    background-color: rgb(240, 242, 245) !important;
    bottom: -9px;
    left: 34px;
    border: 3px solid #18b95e !important;
    border-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
}
.profile__Sitting>*{
    color: #18b95e!important;
    font-size: 13px;
}
.profile__adout{
    display: flex;
    justify-content: center;
}
.adout__info{
    display: flex;
    justify-content: center;
    
}