.header{
display: flex;
padding: 5px 10px;
justify-content: space-between;
background-color: white;
z-index: 111;
position: sticky;
margin-bottom: 15px;
box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

}

.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header__center{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.header__option>.MuiSvgIcon-root{
    color: gray;
}

.header__option:hover>.MuiSvgIcon-root{
    color: rgb(62, 196, 73);
}

.header__option--active>.MuiSvgIcon-root{
    color: rgb(62, 196, 73);
}
.header__option--active{
    padding: 10px 15px;
    border-bottom:4px solid rgb(62, 196, 73);
}


.header__option{
    cursor: pointer;
    padding: 10px 15px;
}

.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 10px 15px;
    border-bottom: none;
}

.header__left > img
{
    height: 40px;
}

.header__right{
    display: flex;
    justify-content: space-between;
}
.header_info{
    display: flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;
    padding-left: 5px;
padding-right: 10px;
}
.header_info:hover{
 background-color: #f0f2f5;
border-radius: 999px;
}
.header_info > h4{
    margin-left: 10px;
    font-size: medium;
    font-weight: 700;
}
.info_operation{
    border-radius: 50%;
}

/* drop down */
.dropbtn {
    color: rgb(75, 75, 75);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #f0f2f5;
    outline:none; 
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content-show a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content-show a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .dropdown-content-show {display:block !important;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1999;
    right:-4px;
}
